<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740478667897-fhu7ndeo1n5fnkar360h73f68eka2vkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740478667897-fhu7ndeo1n5fnkar360h73f68eka2vkf</string>
	<key>API_KEY</key>
	<string>AIzaSyBhBmxjr77cyVyYTvxTnW2uutXNlRXR7gU</string>
	<key>GCM_SENDER_ID</key>
	<string>740478667897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikhailKisly.KombatBio</string>
	<key>PROJECT_ID</key>
	<string>kombat-bio</string>
	<key>STORAGE_BUCKET</key>
	<string>kombat-bio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740478667897:ios:d0e6a14f285aba2524d8a8</string>
	<key>DATABASE_URL</key>
	<string>https://kombat-bio-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>